<div id="fullscreen" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://realmenswork.com/wp-content/uploads/2020/07/grief-loss-banner.jpg);">
  <div class="main-container">
    <h1>TakeCare</h1>
    <p>Ready when you are not</p>
  </div>


</div>
