<div id="fullscreen" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wildernessshots.com/wp-content/uploads/2017/10/Grenadier-Mountains-Panorama-Colorado-Photos.jpg);">
  <div class="container">
    <h1>TakeCare</h1>
    <p>Ready when you are not</p>
  </div>
</div>
