// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// Main colors:
$blue: #67A3A0;
$beige: #F7F1E5;
$gray: #979696;
$light-gray: #dddada;
$dark-gray: #dadada;
$darker-gray: #505150;
$rose: #C88D8D;
$light-gray: #ffffff;
$background: #f4f2f2;
