// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// Main colors:
$blue: #5d9996;
$light-blue: #8ca5a3;
$beige: #F7F1E5;
$gray: #979696;
$black: #000000;
$light-gray: #dddada;
$dark-gray: #dadada;
$darker-gray: #808A96;
$rose: #C88D8D;
$light-gray: #ffffff;
$background: #eae8e8;
$black: #000000;
$dark-blue: #437572;
