<h1>health page</h1>

<h1>uploaded health stuff</h1>

<p><%= @funeral.health %></p>



<h1>write your health stuff</h1>

<%= simple_form_for(@funeral) do |f| %>
  <!-- insert these three line of code below -->
  <div class="form-inputs">
    <%= f.rich_text_area :health %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
