.main-container{
  margin-top: 24px;
  margin: auto;
  width: 80%;
}

.subpage-container{
  margin-top: 24px;
  margin: auto;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

