<%= simple_form_for [@funeral, @relative] do |f| %>
  <div class="form-inputs">
    <%= f.association :user, collection: User.where.not(id: current_user.id),
                      input_html: { multiple: true, data: { controller: "tom-select" }}     %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button-blue' %>
  </div>
<% end %>
