<div class = "container">
<h1>Flowers </h1>

<%= simple_form_for [@funeral_flower, @funeral] do |f| %>
  <div class="form-inputs">
    <%= f.association :funeral_flower, collection: Flower.all,
                      input_html: { multiple: false, data: { controller: "tom-select" }}     %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button-blue' %>
  </div>
<% end %>
</div>
