<footer class="footer">
  <div class= "footer-content container text-center">
    <div class= "footer-social-icons">
    <h3 class="footer-social-icons-header"> You can also find us on </h3>
      <ul class="list-inline">
        <li class="list-item list-inline-item">
          <a class="footer-social-icons-item">
          <i class="fab fa-facebook" href="https://www.facebook.com/lewagon/" target="_blank" arial-label="Facebook"></i>
          <i class="fa-brands fa-twitter" href="https://www.twitter.com/lewagon/" target="_blank" arial-label="Facebook"></i>
          <i class="fa-brands fa-instagram"  target="_blank" arial-label="Instagram"></i>
          </a>
      </ul>
    </div>
  </div>
</footer>
