<footer class="footer">
  <div class="footer-content container text-center">
    <div class="footer-social-icons">
      <h3 class="footer-social-icons-header">You can also find us on</h3>
      <ul class="list-inline">
        <li class="list-item list-inline-item fa-2x">
          <a href="https://www.instagram.com/takecaree2023/" target="_blank" aria-label="Instagram" class="footer-social-icons-item">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-item list-inline-item fa-2x">
          <a href="https://www.facebook.com/lewagon/" target="_blank" aria-label="Facebook" class="footer-social-icons-item">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="list-item list-inline-item fa-2x">
          <a href="https://twitter.com/LeWagonGermany" target="_blank" aria-label="Twitter" class="footer-social-icons-item">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
    <p>© 2023 Copyright: TakeCare</p>
  </div>
</footer>
