<img src="" alt="forum-image">

<div>
  <h1>About us</h1>
</div>
    <h2 id="cards-title">~Losing a loved one is pain, knowing they are saved is comfort</h2><br>
        <p id="text-about">
          Saying goodbye to loved ones - especially when it comes suddenly and unexpectedly -
          is particularly painful for family members and friends.
          Although the path of losing a loved one is a difficult one, it is unfortunately a reality for everyone. Organizing a funeral in a specific time
          period can be terrifying and overwhelming.
          On our platform, we have made it our task to place the wishes of ones burial as well as the paperwork in an easy and organized way.
          It is possible to write down the wishes of loved ones and oneself beforehand so that after death there is no time wasted on trifles such as the place of burial or the venue.
          Not only should the burden of planning a funeral be taken away from you, but you can also deposit papers such as the medical record or even the will.
        </p>
