<img class="image-forum" src="https://www.dropshipbundles.com/wp-content/uploads/2016/04/live-chat-dropshipping.jpg" alt="forum-image">

<div>
  <h1 class="forum-title">Forum</h1>
</div>
    <h2 class="cards-title">~Great communication begins with connection</h2><br><br>
        <p class="text-about">
        Next to placing your wishes and organizing for after life, you can also communicate with your loved ones. This is great for people that
        help relatives or firends with the organization and don't want to leave the platform while doing so.
        </p>
