<img src="" alt="lOSS & GRIEG-IMAGE ">

<div class="cards">
  <h1>Loss & grief</h1>
</div>
    <h2 id="cards-title">~There is no pain so great as the memory of joy in present grief</h2><br>
        <p id="text-about">
        Since grieving for a friend, relative or even a better known can be really hard on the mental health of someone, our platform can link you to some great mental health websites.
        When you feel like everything is getting too much, it would be great to not only have the opportunity to talk to friends or family but also to a professional.
        In the attachements you can find contact points.
        </p>
          <a href="https://www.betterhelp.com/" target="_blank">Visit betterhelp!</a>
          
