.button-light-blue {display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 51px;
  background: $light-blue;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  }

  .button-light-blue:hover {
    background: #ffffff;
    color: $light-blue;
    opacity: 0.8;
    box-shadow: 0px 8px 30px rgba(46, 46, 46, 0.15);
  }
