.button-blue {display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 51px;
  background: $blue;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  .button-blue:hover {
    background: #ffffff;
    color: $blue;
    opacity: 0.8;
    box-shadow: 0px 8px 30px rgba(46, 46, 46, 0.15);
  }

  .button-blue a {
    color: $white;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 179px;
    height: 51px;
    background: $blue;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    --bs-btn-color: #ffffff;
    }

    .btn:hover {
      background: #ffffff;
      color: $blue;
      opacity: 0.8;
      box-shadow: 0px 8px 30px rgba(46, 46, 46, 0.15);
    }

    .btn a {
      color: $white;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
