.card-user{
  overflow: hidden;
}

.card-user .user-background img{
  height: 168px;
  width: 100%;
  object-fit: cover;
  display: flex;
}

.user-first{
  position: relative;
}

.user-name h1{
  color: white;
  font-weight: bold;
  position: absolute;
  object-fit: cover;
  left: 280px;
  bottom: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.card-user .card-user-avatar-bordered img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  object-fit: cover;
  left: 100px;
  bottom: 40px;
}

.user-navbar {
  padding-left: 280px;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  .active {
    color:black
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.card-big {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  height:150px;
  justify-content: center;
  align-items: center;
}

.card-big:hover{
  transform: scale(1.03);
}

.card-big a{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-style: bold;
}

.card-big a:hover{
  color: $blue;
}

.intern {
  margin-top: 50px;
  margin-bottom: 10px;
}

.card-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 395px;
  height: 175px;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
