.footer {
  background-color: $background;
}

.footer-content {
  margin: 0 auto;
  padding: 0;
  padding-top: 8px;
}

.footer-social-icons {
  padding: 40px 24px;
}

.footer-social-icons-header {
  font-size: 14px;
  color: $blue;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 6px;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline-block;
  margin: 5px 5;
}

a {
  color: $blue;
  background-color: transparent;
}
