.form-control {
  border: 1px solid $blue;
  width: 80%;
  border-radius: 10px;
}

.form-control .is-valid {
  border-color: $blue;
}

.rounded {
  width: 240px;
  height: 240px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px; /* Center the image horizontally and add some bottom margin */
}

.form-styling{
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

